/* Header/Nav */
nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.logo {
  margin: auto;
  float: inline-end;
}
ul {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
}
li,
a {
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  padding: auto;
  text-overflow: clip;
  color: black;
}
/* Main */
main {
  background-color: #495e57;
  margin: auto;
}

main h1 {
  color: #f4ce14;
}

h2,
p {
  color: #edefee;
}

.description {
  display: grid;
  text-overflow: clip;
  grid-template-columns: 1fr;
  padding-left: 75vh;
  padding-right: 75vh;
}

.reserve {
  background-color: #f4ce14;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.chef {
  float: right;
}
