@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
  }
}

/* Header/Nav */
nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.logo {
  margin: auto;
  float: inline-end;
}
ul {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
}
li,
a {
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  padding: auto;
  text-overflow: clip;
  color: black;
}
/* Main */
.about {
  background-color: #495e57;
  margin: auto;
}
.about > h1 {
  color: #f4ce14;
}

.chef {
  float: right;
  margin-bottom: 100%;
}

.description {
  display: grid;
  color: #edefee;
  text-overflow: clip;
  grid-template-columns: 1fr;
  margin-left: 100px;
  margin-right: 800px;
}

.reserve {
  background-color: #f4ce14;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonals {
  text-align: center;
  background-color: #495e57;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
